<footer class="text-center text-white" style="background-color: #45637d">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="/">SymRecipe</a>
  </div>
</footer>
